<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Starships are the bomb.</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="static/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="column" style="margin-top: 25%">
        <h4>Starships are the Bomb.</h4>
        <p>This is a basic page to display the merging of a `salesdb` table with film data from <a href="https://swapi.dev">swapi</a>: the starwars api.</p>
        <div>Here are some useful links:</div>
        <div><a href="https://github.com/DanielLDorn/poster-kata">GitHub</a></div>
        <div><a href="https://travis-ci.com/github/DanielLDorn/poster-kata">Travis CI</a></div>
      	<section style="margin-top: 25%">
        	<h4>salesdb</h4>
        	<p>We've sold lots of posters; good times.</p>
        	<table>
        		<tr>
        			{% for header in headings_salesdb %}
        			<th>{{ header }}</th>
        			{% endfor %}
        		</tr>
        		{% for row in data_salesdb %}
        		<tr>
        			{% for cell in row %}
        			<td>{{ cell }}</td>
        			{% endfor %}
        		</tr>
        		{% endfor %}
        	</table>	
        </section>
      	<section style="margin-top: 25%">
        	<h4>ships_to_films</h4>
        	<p>This is a helper table that reduced the number of api calls and sped up transformation of the data.</p>
        	<div>insert table here</div>	
        </section>
      	<section style="margin-top: 25%; margin-bottom: 25%">
        	<h4>dw</h4>
        	<p>The merged database with the film data added to the sales data (sans customer' email addresses).</p>
      		<div>insert table here</div>	
        </section>
      </div>
      <div>
      	<h5>Not much else to see here!</h5>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
